body {
    background-color: lightblue;
    background-image: url('img/sea.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

div#h11 {
    color: rgb(73, 48, 48);
    margin-left: 20px;
    background-image: url('img/sea.jpg');
    background-size: cover;
    border: 5px solid rgb(21, 41, 21);
    background-color: rgb(136, 201, 223);
    text-align: center;

}

div#h22 {
    color: rgb(73, 48, 48);
    background-image: url('img/sea.jpg');
    background-size: cover;
    margin-left: 20px;
    border: 5px solid rgb(21, 41, 21);
    background-color: rgb(136, 201, 223);
    text-align: center;
}