div#hh {
    color: rgb(3, 3, 3);
    margin-left: 450px;
    margin-top: -17px;
    border: 5px solid black;
    background-color: white;
    text-align: center;
    width: 40%;
}

div#word {

    color: black;
    border: 0px solid rgb(13, 34, 13);
    padding: 0px;
    margin: 0px;
    background-color: white;
    text-align: center;

}

.column {
    float: left;
    width: 33.33%;
    padding: 3px;
    box-sizing: border-box;
    text-align: center;
}

div#image {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

div#image2 {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

div#image3 {
    padding: 0px;
    margin: 0px;
    text-align: center;
}